body {
  /* background-image: none; */
  background-color: #d1fdff;
}

.vl {
  margin-left: 20px;
    border-left: 3px solid gray;
    height: 43px;
}

#logout-button {
  margin-right: 10px;
  height: 30px;
}

#logout-button:hover {
   background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.nav-link:hover {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#farm-name {
  color: #d1a2ff;
}

#profile-palm {
  position: relative;
  margin-top: 135px;
  margin-left: 100px;
  width: 500px;
  height: 600px;
}

#soil {
  width: 1440px;
  height: 50px;
  margin-top: 143px;
}

#palm-status {
  margin-top: 300px;
  width: 350px;
}

#set {
  background-color: rgba(255, 255, 255, 0.5)
}

#palm-number {
  width: 490px;
}

#palm-box {
  margin-top: 450px;
  margin-left: 196px;
  width: 300px;
}

#palm-fruit {
  position: absolute;
  margin-top: 570px;
  /* margin-left: 219px; */
  width: 21px;
}

#back {
  margin-top: 630px;
  margin-left: 200px;
}

#next {
  margin-top: 630px;
  margin-left: 440px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
