body{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

/* #plus{
    
    height: 10rem;
    width: 10rem;
} */

#box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

 #page {
    margin-left: 50px;
    margin-right: 50px;
} 

#buttomlarge{
    height: 170px;
    width: 135px;

}
#buttommid{
    height: 150px;
    width: 100px;

}

#buttomsmall{
    height: 120px;
    width: 100px;

}

#fb{
    height: 170px;
    width: 135px;
}
#pk{
    height: 140px;
    width: 90px;
}
#mk{
    height: 110px;
    width: 90px;

}